version: "3"

services:
  django:
    build:
      context: ./mat-backend
    container_name: django_container
    expose:
      - "8000"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media

  react:
    build:
      context: ./mat-frontend
    container_name: react_container
    expose:
      - "80"

  nginx:
    build:
      context: ./nginx
    container_name: nginx_container
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - django
      - react
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro

volumes:
  static_volume:
  media_volume:
