version: "3.9"

services:
  react:
    image: ghcr.io/gokulpr-47/mat-frontend:latest
    container_name: mat_frontend
    restart: always
    ports:
      - "3000:80"

  django:
    image: ghcr.io/gokulpr-47/mat-backend:latest
    container_name: mat_backend
    restart: always
    ports:
      - "8000:8000"

  nginx:
    image: ghcr.io/gokulpr-47/mat-nginx:latest
    container_name: mat_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - react
      - django

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/github/ghcr_token:/config/.dockerconfigjson:ro
    command: >
      --interval 30
      --cleanup
      --label-enable
      --registry-auth
