.report-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-bordered td:nth-child(n + 7) {
  text-align: right;
}

.datePickerContainers {
  position: relative;
  display: flex;
}

.datePickerFlex {
  display: flex;
  gap: 15px;
}

.invoiceReportInputSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}
