.input-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-details-form {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}

/* @media print {
  @page {
    counter-increment: page;
  }

  body,
  .invoice-report-container,
  .invoice-container-container {
    background-color: transparent;
    color: black;
  }

  .print-footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    padding-right: 20px;
    width: 100%;
    font-size: 12px;
  }

  .pageNumber::after {
    content: counter(page);
  }

  .totalPages::after {
    content: counter(pages);
  }

  body {
    counter-reset: page;
  }
} */

@media print {
  @page {
    size: auto;
  }

  body {
    counter-reset: page;
  }

  .invoice-container-container {
    page-break-after: always;
  }

  body,
  .invoice-report-container,
  .invoice-container-container {
    background-color: transparent;
    color: black;
  }

  .print-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: right;
    padding-right: 20px;
  }

  .pageNumber::after {
    content: counter(page);
  }

  .totalPages::after {
    content: attr(data-total);
  }

  body {
    counter-increment: page;
  }
}
