name: Build & Push to GHCR

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build & Push Frontend
        uses: docker/build-push-action@v6
        with:
          context: ./mat-frontend
          push: true
          tags: ghcr.io/gokulpr-47/mat-frontend:latest

      - name: Build & Push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./mat-backend
          push: true
          tags: ghcr.io/gokulpr-47/mat-backend:latest

      - name: Build & Push Nginx
        uses: docker/build-push-action@v6
        with:
          context: ./nginx
          push: true
          tags: ghcr.io/gokulpr-47/mat-nginx:latest
